<p style="color: green"><%= notice %></p>
<% if user_signed_in? %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Login", new_user_session_path %>
<% end %>

<h1>Books</h1>

<div id="books">
  <table>
    <th>Title</th>
    <th>Author</th>
    <th>Date Release</th>
    <th>Aksi</th>
    <% @books.each do |book| %>
      <tr>
        <%= render book %>
        <td><%= link_to "Show this book", book %></td>
      </tr>
    <% end %>
  </table>
</div><br>

<%= paginate @books %>
<%= page_entries_info @books %>

<% if user_signed_in? %>
  <p><%= link_to "New book", new_book_path %></p>
<% end %>