<p style="color: green"><%= notice %></p>

<h3><%= @book.title %>

<table>
  <th>Title</th>
  <th>Author</th>
  <th>Date Release</th>
  <tr><%= render @book %></tr>
</table>

<div>
  <% if user_signed_in? %>
    <%= link_to "Edit this book", edit_book_path(@book) %> |
    <%= button_to "Destroy this book", @book, method: :delete %>
  <% end %>

  <p><%= link_to "Back to books", books_path %></p>
</div>
