<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <% if user_signed_in? %>
    <%= link_to "Edit this book", edit_book_path(@book) %> |
  <% end %>
  <%= link_to "Back to books", books_path %>

  <% if user_signed_in? %>
    <%= button_to "Destroy this book", @book, method: :delete %>
  <% end %>
</div>
